@page "/"
@using VonageSmsDashboard.Client.Components

    <div style="height: 100%">
        <DeliveredMessages></DeliveredMessages>
        <InboundSms></InboundSms>
        <MessageSender></MessageSender>
    </div>